node_modules
*.log
.idea
*.iml
*.sw*
dist
*.DS_Store
.cache
junit.xml
/repros
/sandbox
.verdaccio-cache

# Yarn stuff
/**/.yarn/*
!/**/.yarn/releases
!/**/.yarn/plugins
!/**/.yarn/sdks
!/**/.yarn/versions
/**/.pnp.*
/yarn.lock
