{
  "presets": [
    ["@babel/preset-env", { "targets": { "chrome": "100" } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
  ],
  "assumptions": {
    "setPublicClassFields": true
  }
}
